@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin-top: 0.5em;
}

h2 {
    font-size: 25px;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#sizePicker input[type="text"],
#sizePicker input[type="email"],
#sizePicker input[type="tel"],
#sizePicker input[type="url"],
#sizePicker textarea,
#sizePicker button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#sizePicker {
    text-align: center;
    display: block;
    background: #F9F9F9;
    padding: 25px;
    margin: 45px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

label {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 1em;
}

#sizePicker h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#sizePicker h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#sizePicker input[type="number"] {
    /*width: 100%;*/
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#sizePicker input[type="number"]:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}


    text-align: center;
}

#sizePicker input:focus,
#sizePicker textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}


/* Button CSS */

.button {
    width: 50%;
  display: flex;
  overflow: hidden;
  margin: 5px 6em;
  padding: 12px 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 10px var(--color-smoke);
}
.button:hover {
  transition: all 150ms linear;
  opacity: .85;
}
.button:active {
  transition: all 150ms linear;
  opacity: .75;
}
.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-green {
  color: #323030;
  font-size: 15px;
  background: #3dd28d;
}

/*  Color Picker CSS */
.color-picker {
  margin: 20px auto;
  background-color: #333;
  padding: 10px 20px;
}
.color-picker .sliders {
  float: left;
}
.color-picker .color-preview {
  border-radius: 50%;
  float: right;
}
.rgb-picker {
  width: 200px;
  height: 110px;
}
.rgb-picker .sliders {
  width: 80px;
}
.rgb-picker .color-preview {
  width: 70px;
  height: 70px;
  margin-top: 14px;
  cursor: pointer;
}

.red-slider input[type=range]::-webkit-slider-runnable-track {
  background: #444;
}
.red-slider input[type=range]::-webkit-slider-thumb {
  background: #ff3300;
}
.red-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #444;
}
.red-slider input[type=range]::-moz-range-track {
  background: #444;
}
.red-slider input[type=range]::-moz-range-thumb {
  background: #ff3300;
}
.red-slider input[type=range]::-ms-fill-lower {
  background: #444;
}
.red-slider input[type=range]::-ms-fill-upper {
  background: #444;
}
.red-slider input[type=range]::-ms-thumb {
  background: #ff3300;
}
.red-slider input[type=range]:focus::-ms-fill-lower {
  background: #444;
}
.red-slider input[type=range]:focus::-ms-fill-upper {
  background: #444;
}
.green-slider input[type=range]::-webkit-slider-runnable-track {
  background: #444;
}
.green-slider input[type=range]::-webkit-slider-thumb {
  background: #33cc33;
}
.green-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #444;
}
.green-slider input[type=range]::-moz-range-track {
  background: #444;
}
.green-slider input[type=range]::-moz-range-thumb {
  background: #33cc33;
}
.green-slider input[type=range]::-ms-fill-lower {
  background: #444;
}
.green-slider input[type=range]::-ms-fill-upper {
  background: #444;
}
.green-slider input[type=range]::-ms-thumb {
  background: #33cc33;
}
.green-slider input[type=range]:focus::-ms-fill-lower {
  background: #444;
}
.green-slider input[type=range]:focus::-ms-fill-upper {
  background: #444;
}
.blue-slider input[type=range]::-webkit-slider-runnable-track {
  background: #444;
}
.blue-slider input[type=range]::-webkit-slider-thumb {
  background: #336699;
}
.blue-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #444;
}
.blue-slider input[type=range]::-moz-range-track {
  background: #444;
}
.blue-slider input[type=range]::-moz-range-thumb {
  background: #336699;
}
.blue-slider input[type=range]::-ms-fill-lower {
  background: #444;
}
.blue-slider input[type=range]::-ms-fill-upper {
  background: #444;
}
.blue-slider input[type=range]::-ms-thumb {
  background: #336699;
}
.blue-slider input[type=range]:focus::-ms-fill-lower {
  background: #444;
}
.blue-slider input[type=range]:focus::-ms-fill-upper {
  background: #444;
}

.short-slider input[type=range] {
  -webkit-appearance: none;
  width: 80px;
  margin: 0;
  padding: 0;
}
.short-slider input[type=range]::-webkit-slider-runnable-track {
  width: 80px;
  height: 2px;
  border: none;
}
.short-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: -4px;
  cursor: pointer;
}
.short-slider input[type=range]:focus {
  outline: none;
}
.short-slider input[type=range]::-moz-range-track {
  width: 80px;
  height: 2px;
  border: none;
}
.short-slider input[type=range]::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.short-slider input[type=range]::-ms-fill-lower {
  border-radius: 10px;
}
.short-slider input[type=range]::-ms-fill-upper {
  border-radius: 10px;
}
.short-slider input[type=range]::-ms-thumb {
  border: none;
  height: 10px;
  width: 10x;
  margin-top: -1px;
  cursor: pointer;
}
.short-slider input[type=range]::-ms-track {
  width: 80px;
  height: 4px;
  background: transparent;
  border-color: transparent;
  border-width: 2px 0;
  overflow: visible;
  color: transparent;
}


hr {
    margin: 0 auto;
    margin-bottom:  1em;
    width: 90%;
    border: 0;
        border-bottom: 1px dashed #ccc;
        background: #999;
}

/* Canvas CSS */


#canavas {
    margin: 2em;
}

#pixel_canvas {
    margin-top: 1em;
}

.canavas_heading {
    margin: 1em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}
